.container {
	display: flex;
	flex-direction: column;
	background: #ccc;
	width: 425px;
}

.row, .row1, .row2, .row3, .row4, .row5 {
	padding: 5px;	
}

button {
	width: 100px;
	height: 75px;
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 26px;
}

.inp {
	font-family: 'PT Sans', sans-serif;
	font-size: 36px;
	background: #fff;
	text-align: right;
	width: 400px;
	height: 50px;
	color: black;
	padding-right: 10px;
}

.inp2 {
	font-family: 'PT Sans', sans-serif;
	font-size: 15px;
	background: #ccc;
	text-align: right;
	color: black;
	padding-right: 10px;
	float: right;
	border: none;
	height: 55px;
	width: 400px;
}

button:hover {
	-webkit-box-shadow: inset 10px 10px 24px -9px rgba(224,224,224,1);
	-moz-box-shadow: inset 10px 10px 24px -9px rgba(224,224,224,1);
	box-shadow: inset 10px 10px 24px -9px rgba(224,224,224,1);
	background: #F9F9F9;
}